<ngx-carousel class="d-none d-md-block" dir="ltr"
      [inputs]="carouselTile"
      [moveToSlide]="firstSlide"
      >
            <ngx-tile NgxCarouselItem *ngFor="let item of items">
                <div class="card bg-transparent border border-secondary text-right {{marker}}"
                    style="width: 100%;"
                    [style.minHeight.px]="maxHeight"
                    >
                        <div class="card-header bg-transparent d-flex justiy content-start" style="padding: 0;">
                            <h6 style="margin-bottom: 0.1rem;">
                                <span *ngFor="let badge of item.product.badges"
                                class="badge badge-pill {{badge.color}}">
                                    {{badge.text}}
                                </span>
                                <span *ngIf="item.product.badges.length === 0" class="badge badge-pill bg-transparent">
                                    &nbsp;
                                </span>
                            </h6>
                        </div>
                        <div class="wrapper bg-light">
                            <img class="card-img-top"
                            src="{{apiUrl}}/images/{{item.product.frontImage.hiRes}}"
                            alt="{{item.product.title}}"
                            (click)="onClickProduct(item.product.promoLink, item.product._id)"
                            style="
                            cursor: pointer;
                            padding: 0.5rem;
                            ">
                        </div>
                        <div class="card-body bg-light">
                                <small>{{item.product.marketplace.name}}</small>
                                <app-product-price [product]="item.product"></app-product-price>
                                <p class="card-text" dir="rtl"
                                (click)="onClickProduct(item.product.promoLink, item.product._id)"
                                style="
                                cursor: pointer;
                                ">
                                    {{item.product.title}}
                                </p>
                                <small class="text-muted">
                                    <span *ngFor="let tag of item.product.tags"
                                    class="mx-1">
                                    <a href="/tag/{{tag._id}}" (click)="onClickTag($event, tag._id)"><span dir="ltr">#</span><span>{{tag.name}}</span></a>
                                    </span>
                                </small>
                        </div>
                    </div>
            </ngx-tile>

          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>

<div class="row d-block d-md-none">
    <div *ngFor="let item of items" class="col-12 mb-3">
        <div class="card bg-transparent border-0 text-right"
        style="width: 100%;"
        >
            <div *ngIf="item.product.badges.length !== 0" class="card-header border-0 text-left bg-transparent" style="padding: 0;">
                <h5 style="margin-bottom: 0.3rem;">
                    <span *ngFor="let badge of item.product.badges"
                    class="badge badge-pill {{badge.color}}">
                        {{badge.text}}
                    </span>
                </h5>
            </div>
            <div class="wrapper border border-bottom-0 border-secondary rounded-top bg-light">
                <img class="card-img-top"
                src="{{apiUrl}}/images/{{item.product.frontImage.hiRes}}"
                alt="{{item.product.title}}"
                (click)="onClickProduct(item.product.promoLink)"
                style="
                cursor: pointer;
                padding: 0.5rem;
                ">
            </div>
            <div class="card-body border border-secondary rounded-bottom bg-light">
                    <h5 class="card-text" dir="rtl"
                    (click)="onClickProduct(item.product.promoLink)"
                    style="
                    cursor: pointer;
                    ">
                        {{item.product.title}}
                    </h5>
                    <small class="text-muted">
                        <span *ngFor="let tag of item.product.tags"
                        class="mx-1">
                        <a href="/tag/{{tag._id}}" (click)="onClickTag($event, tag._id)"><span dir="ltr">#</span><span>{{tag.name}}</span></a>
                        </span>
                    </small>
            </div>
        </div>
    </div>
</div>
<div (window:resize)="onResize($event)"></div>