<div *ngIf="isDataReady" class="container">
        <div class="jumbotron jumbotron-fluid bg-white text-primary">
                <div class="row text-right" style="padding-left: .5rem; padding-right: .5rem;">
                        <h2>
                                {{category.name}}
                        </h2>
                        <p class="text-secondary">
                                {{category.description}}
                        </p>
                </div>
        </div>
        <app-product-list
        [items]="category.items"
        (onProductClick)="showProductDetail($event)"
        (onTagClick)="showTagResults($event)">
        </app-product-list>
</div>