<div class="row">
    <div *ngFor="let item of items | slice:0:showed"
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
        <div class="card bg-transparent border-0 text-right"
        style="height:100%">
            <div class="card-header border-0 text-left bg-transparent" style="padding: 0; padding-bottom: 0.2rem">
                <h5 style="margin-bottom: 0.3rem;">
                    <span *ngFor="let badge of item.product.badges"
                    class="badge badge-pill {{badge.color}}">
                        {{badge.text}}
                    </span>
                    <span *ngIf="item.product.badges.length === 0" class="badge badge-pill bg-transparent">
                        &nbsp;
                    </span>
                </h5>
            </div>
            <div class="wrapper border border-bottom-0 border-secondary rounded-top bg-light">
                <img class="card-img-top"
                src="{{apiUrl}}/images/{{item.product.frontImage.hiRes}}"
                alt="{{item.product.title}}"
                (click)="onClickProduct(item.product.promoLink)"
                style="
                cursor: pointer;
                padding: 0.5rem;
                ">
            </div>
            <div class="card-body border border-secondary rounded-bottom bg-light">
                    <small>{{item.product.marketplace.name}}</small>
                    <app-product-price [product]="item.product"></app-product-price>
                <h5 class="card-title" dir="rtl"
                (click)="onClickProduct(item.product.promoLink)"
                style="
                cursor: pointer;
                ">
                    {{item.product.title}}
                </h5>
                <small class="text-muted text-left">
                        <span *ngFor="let tag of item.product.tags"
                        class="mx-1">
                            <a href="/tag/{{tag._id}}" (click)="onClickTag($event, tag._id)"><span dir="ltr">#</span><span>{{tag.name}}</span></a>
                        </span>
                </small>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showed < items.length" class="row mb-3 justify-content-center border border-secondary border-left-0 border-right-0 border-bottom-0">
    <h1>
        <a href="#" (click)="showMore($event)"><span class="fa fa-angle-double-down"></span></a>
    </h1>
</div>