<nav dir="ltr" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="d-flex">
            <a dir="rtl" (click)="clickLogoTitle($event)" class="navbar-brand" href="#">{{translation.topNavigation.logoTitle}}</a>
            <span class="d-flex align-items-center">
                    <a dir="rtl" (click)="clickFacebook($event)"
                    class="btn btn-xs btn-social-icon btn-facebook mr-1"
                    href="{{translation.topNavigation.facebookLink}}"><i class="fa fa-facebook"></i></a>
                    <a dir="rtl" (click)="clickYoutube($event)"
                    class="btn btn-xs btn-social-icon btn-youtube"
                    href="{{translation.topNavigation.youtubeLink}}"><i class="fa fa-youtube"></i></a>
            </span>
        </div>

        <button class="navbar-toggler align-self-end" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
 
        <div class="collapse navbar-collapse justify-content-end mt-2 mt-sm-0" id="navbarToggler">
        <div class="row mr-lg-1">
            <div class="col-5 col-sm-7 col-lg-2 col-xl-auto"></div>
            <div class="col-7 col-sm-5 col-lg-10 col-xl-12">
                <form novalidate #formRef="ngForm">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" dir="rtl"
                            class="btn btn-outline-secondary btn-sm"
                            [disabled]="formRef.invalid"
                            (click)="clickSearch()">
                                {{translation.topNavigation.searchGoButtion}}
                            </button>
                        </span>
                        <input type="text" dir="rtl"
                        name="searchInput"
                        class="form-control form-control-sm"
                        #searchInput
                        [(ngModel)] = "searchInputField"
                        placeholder="{{translation.topNavigation.searchboxPlaceholder}}" autocomplete="off"
                        required>
                    </div>
                </form>
                <div class="title-suggestion-list--wrapper">
                        <ul class="title-suggestion-list"
                        *ngIf="searchHints"
                        [style.display]="searchHints ? 'block' : 'none'">
                            <li *ngFor="let product of searchHints.products"
                            (click)="clickProductHint(product.promoLink, product._id)">
                                <small>
                                    {{product.title}}
                                    <span class="text-muted">{{translation.topNavigation.searchboxDropdown.inProducts}}</span>
                                </small>
                            </li>
                            <li *ngFor="let category of searchHints.categories"
                            (click)="clickCategoryHint(category._id)">
                                <small>
                                    {{category.name}} 
                                    <span class="text-muted">{{translation.topNavigation.searchboxDropdown.inCategories}}</span>
                                </small>
                            </li>
                            <li *ngFor="let brand of searchHints.brands"
                            (click)="clickBrandHint(brand._id)">
                                <small>
                                    {{brand.name}}
                                    <span class="text-muted">{{translation.topNavigation.searchboxDropdown.inBrands}}</span>
                                </small>
                            </li>
                            <li *ngFor="let shop of searchHints.shops"
                            (click)="clickShopHint(shop._id)">
                                <small>
                                    {{shop.name}}
                                    <span class="text-muted">{{translation.topNavigation.searchboxDropdown.inShops}}</span>
                                </small>
                            </li>
                        </ul>
                </div>
            </div>
        </div>

        <ul class="navbar-nav d-flex align-items-end">
            <li class="nav-item mr-lg-2 order-6 order-lg-1">
                <a dir="rtl" (click)="clickHelp($event)" class="nav-link disabled" href="#">{{translation.topNavigation.helpLink}}</a>
            </li>
            <li class="nav-item mr-lg-2 order-5 order-lg-2">
                <a dir="rtl" (click)="clickShops($event)" class="nav-link" href="#">{{translation.topNavigation.shopsLink}}</a>
            </li>
            <li class="nav-item mr-lg-2 order-4 order-lg-3">
                <a dir="rtl" (click)="clickCoupons($event)" class="nav-link disabled" href="#">{{translation.topNavigation.couponsLink}}</a>
            </li> 
            <li class="nav-item mr-lg-2 order-3 order-lg-4">
                <a dir="rtl" (click)="clickBrands($event)" class="nav-link" href="#">{{translation.topNavigation.brandsLink}}</a>
            </li>
            <li class="nav-item mr-lg-2 order-2 order-lg-5">
                <a dir="rtl" (click)="clickCategories($event)" class="nav-link" href="#">{{translation.topNavigation.categoriesLink}}</a>
            </li>
            <li class="nav-item mr-lg-2 order-1 order-lg-6">
                <a dir="rtl" (click)="clickHome($event)" class="nav-link active" href="#">{{translation.topNavigation.homeLink}}</a>
            </li>
        </ul>
    </div>
</nav>