.title-suggestion-list--wrapper {
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 100%;
    right: 0;
    z-index: 1001;
  }
  
  .title-suggestion-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    display: none;
  }
  
  .title-suggestion-list li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
  }
  
  .title-suggestion-list li:hover {
    background-color: #f4f4f4;
  }