<div class="modal-header d-flex" class="modal-header d-flex bg-light"
style="padding: 6px">
        <h5 style="margin-bottom: 0;padding-right: 5px;">
                {{translation.topNavigation.selectTitle}}
        </h5>
        <span class="align-self-end">
                <button type="button" class="close" style="padding-left: 0;" (click)="cancel()">
                        <span>&times;</span>
                </button>
        </span>
</div>

<div class="modal-body" dir="rtl">
        <div class="container">
                <div class="row">
                        <div class="list-group col-12" style="padding-right:0">
                                <a *ngFor="let shopGroup of shopGroups"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                href="#"
                                (click)="clickShopGroup($event, shopGroup._id)">
                                        {{shopGroup.name}}
                                        <span class="badge badge-primary badge-pill">{{shopGroup.items.length}}</span>
                                </a>
                        </div>
                </div>
        </div>
</div>