<div *ngIf="isDataReady" class="container">
        <div class="row">
                <div class="col-12 col-lg-5 border border-secondary">
                        <div class="row">
                                <div class="col-12">
                                        <div class="wrapper">
                                        <img class="img-fluid" src="{{apiUrl}}/images/{{activeImage.hiRes}}" 
                                        alt="{{activeImage.hiRes}}"
                                        style="
                                        padding: 1rem;
                                        ">
                                </div>
                                </div>
                        </div>
                        <div class="row mt-2">
                                <div *ngFor="let image of product.images"
                                class="col">
                                        <img
                                        src="{{apiUrl}}/images/{{image.thumb}}"
                                        alt="{{image.thumb}}"
                                        (click) = "selectImage(image._id)"
                                        [style.border] = "image.hiRes === activeImage.hiRes ? '1px solid black' : 'none'"
                                        style = "
                                        max-width:64px;
                                        max-height: 64px;
                                        width: auto;
                                        height: auto;
                                        cursor: pointer;
                                        padding: 0.3rem;
                                        ">
                                </div>
                                <div class="col-auto"></div>
                        </div>
                </div>
                <div class="col-12 col-lg-7">
                        <div class="row mx-2 mt-3 justify-content-start">
                                <strong dir="ltr" class="text-dark">
                                        <span *ngIf="product.shop.name.length !== 0">
                                                <a href="/shop/{{product.shop._id}}"
                                                (click)="clickShop($event, product.shop._id)">
                                                {{product.shop.name}}
                                                </a> | 
                                        </span>
                                        <span *ngIf="product.brand.name.length !== 0">
                                                <a href="/brand/{{product.brand._id}}"
                                                (click)="clickBrand($event, product.brand._id)">
                                                {{product.brand.name}}
                                                </a> |
                                        </span>
                                        <a href="/category/{{product.category._id}}"
                                        (click)="clickCategory($event, product.category._id)">
                                                {{product.category.name}}
                                        </a>
                                </strong>
                        </div>
                        <div class="row mx-2 mt-1 d-flex justify-content-start">
                                <h4 class="text-right">
                                        {{product.title}}
                                </h4>
                        </div>
                        <div class="row mx-2 mt-3 d-flex justify-content-center">
                                <app-product-price [id]="product._id"></app-product-price>
                        </div>
                        <div class="row mx-2 mt-1 d-flex justify-content-center">
                                <button class="btn btn-lg btn-outline-warning"
                                (click)="clickBuyButton()" style="
                                cursor: pointer;
                                ">
                                        <b>{{translation.productView.buyButton}}</b>
                                </button>
                        </div>
                        <div class="row mx-2 mt-4 d-flex justify-content-start">
                                <h6 class="text-right" style="white-space: pre-wrap;">{{product.description}}</h6>
                        </div>
                        
                        <div class="row mx-2 mt-1 d-flex justify-content-start">
                                <a *ngFor="let tag of product.tags | orderBy: 'name'" 
                                href="/tag/{{tag._id}}"
                                (click) = "clickTag($event, tag._id)" class="mx-1">
                                <span dir="ltr">#</span><span>{{tag.name}}</span>
                                </a>
                        </div>
                </div>            
        </div>
        <div *ngIf="similar && similar.length !== 0" class="row mt-4 mb-2">
                <div class="col-12 d-flex justify-content-center">
                        <h4>
                                {{translation.productView.interestedIn}}
                        </h4>
                </div>
        </div>
        <app-product-list *ngIf="similar"
        [items]="similar"
        (onProductClick)="showProductDetail($event)"
        (onTagClick)="showTagResults($event)">
        </app-product-list>
</div>