<div *ngIf="isDataReady" class="container">
        <div class="row">
                <div class="col-1">
                        <div *ngFor="let image of product.images"
                        class="row d-flex justify-content-center">
                                <img
                                class="mx-1 my-1" src="{{apiUrl}}/images/{{image.thumb}}" alt="{{image.thumb}}"
                                (click) = "selectImage(image._id)"
                                [style.border] = "image.hiRes === activeImage.hiRes ? '1px solid black' : 'none'"
                                style = "
                                max-width:64px;
                                max-height: 64px;
                                width: auto;
                                height: auto;
                                cursor: pointer;
                                ">
                        </div>
                </div>
                <div class="col-5">
                        <div class="row">
                                <div class="col">
                                        <img class="img-fluid" src="{{apiUrl}}/images/{{activeImage.hiRes}}" 
                                        alt="{{activeImage.hiRes}}"
                                        style="
                                        cursor: url({{apiUrl}}/static/searchgrey_2x.cur), pointer;
                                        ">
                                </div>
                        </div>
                </div>
                <div class="col-6">
                        <div class="row d-flex justify-content-start">
                                <span *ngFor="let badge of product.badges"
                                class="badge badge-pill {{badge.color}} mx-1" dir="rtl">{{badge.text}}</span>
                        </div>
                        <div class="row mt-3 d-flex justify-content-start">
                                <h4>
                                        <span dir="rtl">{{product.title}}</span>
                                        <button class="btn btn-danger"
                                        (click)="clickBuyButton()">
                                        Buy
                                        </button>
                                </h4>
                        </div>
                        <div class="row mt-3 d-flex justify-content-start">
                                <button *ngFor="let tag of product.tags | orderBy: 'name'" 
                                class="btn btn-sm btn-outline-success mx-1"
                                (click) = "clickTag(tag._id)"
                                >
                                {{tag.name}}
                                </button>
                        </div>
                        <div class="row mt-2 d-flex justify-content-start">
                                <h6><u>Shop:</u></h6>
                        </div>
                        <div class="row d-flex justify-content-start">
                                <h6>
                                        <a href="#" (click) = "clickShop($event, shop._id)">
                                        {{product.shop.name}}
                                        </a>
                                </h6>
                        </div>
                        <div class="row mt-2 d-flex justify-content-start">
                                <h6><u>Category:</u></h6>                             
                        </div>
                        <div class="row d-flex justify-content-start">
                                <h6 dir="rtl">
                                        <a href="#" (click) = "clickCategory($event, category._id)">
                                        {{product.category.name}}
                                        </a>
                                </h6>                                    
                        </div>
                        <div class="row mt-2 d-flex justify-content-start">
                                <h6><u>Brand:</u></h6>
                        </div>
                        <div class="row d-flex justify-content-start">
                                <h6>
                                        <a href="#" (click) = "clickBrand($event, brand._id)">
                                        {{product.brand.name}}
                                        </a>
                                </h6>
                        </div>
                        <div class="row mt-2 d-flex justify-content-start">
                                <h6><u>Description:</u></h6>
                        </div>
                        <div class="row d-flex justify-content-start">
                                <h6 dir="rtl">{{product.description}}</h6>
                        </div>
                </div>                
        </div>
</div>