<div class="row">
    <div class="col-1 d-flex align-items-center">
        <a *ngIf="ableToRightXl()" href="#" (click)="moveRight($event)"><h1><span class="fa fa-chevron-right"></span></h1></a>
    </div>
    <div class="col-10 card-deck">
        <div *ngFor="let item of items"
        class="card mx-1 text-right {{item.xl}}"
        (click)="onClick(item.product._id)"
        style="cursor: pointer;">
                <div class="card-header text-left" style="padding: 0.2rem 0.2rem">
                    <h4>
                        <span *ngFor="let badge of item.product.badges"
                        class="badge badge-pill {{badge.color}}">
                            {{badge.text}}
                        </span>
                    </h4>
                </div>
                <img class="card-img-top" src="/images/{{item.product.frontImage.hiRes}}" alt="{{item.product.title}}">
                <div class="card-body">
                    <h5 class="card-title" dir="rtl">{{item.product.title}}</h5>
                </div>
        </div>
    </div>
    <div class="col-1 d-flex align-items-center">
        <a *ngIf="ableToLeftXl()" href="#" (click)="moveLeft($event)"><h1><span class="fa fa-chevron-left"></span></h1></a>
    </div>
</div>