<div *ngIf="isDataReady" class="modal-header" [ngSwitch]="Step">
    <h4 *ngSwitchCase="'selectImages'" class="modal-title">Step 1 - Select Front Image</h4>
    <h4 *ngSwitchCase="'editDetails'" class="modal-title">Step 2 - Edit Details</h4>
    <h4 *ngSwitchCase="'preview'" class="modal-title">Step 3 - Preview</h4>
</div>

<div *ngIf="isDataReady" class="modal-body">
        <div class="container" [ngSwitch]="Step">
                <div class="col-12">

            <div *ngSwitchCase="'selectImages'">
                <div class="row">
                  <div class="col-12">
                      <div class="row d-flex justify-content-center">
                              <img *ngFor="let image of product.images" class="mx-2"
                               src="./images/{{image.thumb}}" alt="{{image.thumb}}"
                               (click)="selectImage(image._id)" 
                               style = "
                                display: block;
                                max-width:64px;
                                max-height: 64px;
                                width: auto;
                                height: auto;
                               ">
                      </div>
                      <div class="row d-flex justify-content-center">
                            <h4 class="my-2">Front image of the product will be:</h4>                            
                      </div>
                      <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                                <img class="img-fluid" src="./images/{{selectedImage.hiRes}}" 
                                alt="{{selectedImage.hiRes}}" 
                                style = "
                                 display: block;
                                 max-width:400px;
                                 max-height: 400px;
                                 width: auto;
                                 height: auto;
                                ">
                        </div>
                      </div>
                  </div>  
                </div>
            </div>

            <div *ngSwitchCase="'editDetails'">
                <div class="row">
                    <div class="col-12">
                      
                    <div class="form-group row">
                        <label for="marketplace" class="col-sm-2 col-form-label">Marketplace</label>
                        <div class="col-sm-10 d-flex align-items-center">
                                <strong id="marketplace">{{marketplace.name}}</strong>
                        </div>
                    </div>

                    <div *ngIf="marketplace.hasShops" class="form-group row">
                            <label for="productShop" class="col-sm-2 col-form-label">Shop</label>
                            <div class="col-sm-8">
                                    <select [(ngModel)] = "productShop._id" class="form-control form-control-sm" id="productShop">
                                        <option value="">None</option>   
                                        <option *ngFor="let shop of marketplace.shops | orderBy: 'name'" value="{{shop._id}}">{{shop.name}}</option>
                                    </select>
                            </div>
                            <div class="col-sm-2 d-flex align-items-center justify-content-start">
                                    <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                              New
                                            </button>
                                            <div class="dropdown-menu">
                                                    <div class="input-group">
                                                            <input [(ngModel)] = "newShop" type="text" class="form-control form-control-sm" id="newShop" placeholder="Shop Name" dir="rtl">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm btn-outline-success" (click)="addMarketplaceShop()">Add</button>
                                                            </span>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>

                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input [(ngModel)] = "product.title" dir="rtl" type="text" class="form-control form-control-sm" id="title">
                        </div>
                    </div>

                    <div class="form-group row">
                            <label for="category" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-8">
                                    <select [(ngModel)] = "productCategory._id" class="form-control form-control-sm" id="category">
                                        <option *ngFor="let category of existedCategories | orderBy: 'name'" value="{{category._id}}">{{category.name}}</option>
                                    </select>
                            </div>
                            <div class="col-sm-2 d-flex align-items-center justify-content-start">
                                    <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                              New
                                            </button>
                                            <div class="dropdown-menu">
                                                    <div class="input-group">
                                                            <input [(ngModel)] = "newCategory" type="text" class="form-control form-control-sm" id="newCategory" placeholder="Category Name" dir="rtl">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm btn-outline-success" (click)="addCategory()">Add</button>
                                                            </span>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>

                    <div class="form-group row">
                            <label for="brand" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-8">
                                    <select [(ngModel)] = "productBrand._id" class="form-control form-control-sm" id="brand">
                                            <option value="">None</option>
                                            <option *ngFor="let brand of existedBrands | orderBy: 'name'" value="{{brand._id}}">{{brand.name}}</option>
                                    </select>
                            </div>
                            <div class="col-sm-2 d-flex align-items-center justify-content-start">
                                    <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                              New
                                            </button>
                                            <div class="dropdown-menu">
                                                    <div class="input-group">
                                                            <input [(ngModel)] = "newBrand" type="text" class="form-control form-control-sm" id="newBrand" placeholder="Brand Name" dir="rtl">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm btn-outline-success" (click)="addBrand()">Add</button>
                                                            </span>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>

                    <div class="form-group row">
                            <label for="tag" class="col-sm-2 col-form-label">Tags</label>
                            <div class="col-sm-4">
                                <button *ngFor="let tag of productTags | orderBy: 'name'" class="btn btn-sm btn-outline-success" (click)="removeTagForProduct(tag._id)">{{tag.name}}</button>
                            </div>
                            <div class="col-sm-4 d-flex align-items-center justify-content-start">
                                <div class="input-group">
                                        <select [(ngModel)] = "addedTag" class="form-control form-control-sm" id="tag">
                                            <option value="">None</option>
                                            <option *ngFor="let tag of existedTags | orderBy: 'name'" value="{{tag._id}}">{{tag.name}}</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-outline-success" (click)="addTagToProduct()">Add</button>
                                        </span>
                                </div>
                            </div>
                            <div class="col-sm-2 d-flex align-items-center justify-content-start">
                                    <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                              New
                                            </button>
                                            <div class="dropdown-menu">
                                                    <div class="input-group">
                                                            <input [(ngModel)] = "newTag" type="text" class="form-control form-control-sm" id="newTag" placeholder="Tag Name" dir="rtl">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm btn-outline-success" (click)="addTag()">Add</button>
                                                            </span>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                           
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea [(ngModel)] = "product.description" dir="rtl" class="form-control form-control-sm" id="description" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Badges</label>
                            <div class="col-sm-10 d-flex align-items-center justify-content-start">
                                    <div *ngFor="let badge of existedBadges | orderBy: 'text'" class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" (change)="selectBadge($event, badge._id)" [checked]="isBadgeSelected(badge._id)"> <span class="badge badge-pill {{badge.color}}" dir="rtl">{{badge.text}}</span>
                                            </label>
                                    </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'preview'">
                <div class="row d-flex justify-content-center">
                        <div class="col-12">
                                <input type="text" disabled
                                style="width:100%;"
                                value="http://buy.jerus.city/{{product.promoLink}}">
                        </div>
                </div>
                <div class="row d-flex justify-content-center">
                        <div class="col-12">
                                <input type="text" disabled
                                style="width:100%;"
                                value="{{buyLinkPresent}}">
                        </div>
                </div>
                <div class="row">
                        <div class="col-6">
                                <div class="row d-flex justify-content-end">
                                        <span *ngFor="let badge of productBadges"
                                        class="badge badge-pill {{badge.color}} mx-1" dir="rtl">{{badge.text}}</span>
                                </div>
                                <div class="row mt-3 d-flex justify-content-end text-right">
                                        <h4>
                                                <button class="btn btn-danger"
                                                (click)="clickBuyButton()">
                                                Buy
                                                </button>
                                                <span dir="rtl">{{product.title}}</span>
                                                
                                        </h4>
                                </div>
                                <div class="row mt-3 d-flex justify-content-end">
                                        <button *ngFor="let tag of productTags | orderBy: 'name'" 
                                                class="btn btn-sm btn-outline-success mx-1">
                                                {{tag.name}}
                                        </button>
                                </div>
                                <div class="row mt-2 d-flex justify-content-end">
                                        <h6><u>Marketplace:</u></h6>
                                </div>
                                <div class="row d-flex justify-content-end">
                                        <h6>{{marketplace.name}}</h6>
                                </div>
                                <div *ngIf="marketplace.hasShops" class="row mt-2 d-flex justify-content-end">
                                        <h6><u>Shop:</u></h6>
                                </div>
                                <div *ngIf="marketplace.hasShops" class="row d-flex justify-content-end">
                                        <h6>{{productShop.name}}</h6>
                                </div>
                                <div class="row mt-2 d-flex justify-content-end">
                                        <h6><u>Category:</u></h6>                             
                                </div>
                                <div class="row d-flex justify-content-end">
                                        <h6 dir="rtl">{{productCategory.name}}</h6>                                    
                                </div>
                                <div class="row mt-2 d-flex justify-content-end">
                                        <h6><u>Brand:</u></h6>
                                </div>
                                <div class="row d-flex justify-content-end">
                                        <h6>{{productBrand.name}}</h6>
                                </div>
                                <div class="row mt-2 d-flex justify-content-end">
                                        <h6><u>Description:</u></h6>
                                </div>
                                <div class="row d-flex justify-content-end text-right">
                                        <h6 dir="rtl" style="white-space: pre-wrap;">{{product.description}}</h6>
                                </div>
                        </div>
                        <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <img class="img-fluid" src="./images/{{selectedImage.hiRes}}" 
                                        alt="{{selectedImage.hiRes}}">
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                        <img *ngFor="let image of product.images" 
                                        class="mx-1 my-1" src="./images/{{image.thumb}}" alt="{{image.thumb}}"
                                        style = "
                                        max-width:64px;
                                        max-height: 64px;
                                        width: auto;
                                        height: auto;
                                       ">
                                </div>
                        </div>
                </div>
                                                   
            </div>
      </div>
</div>
  
<div *ngIf="isDataReady" class="modal-footer" [ngSwitch]="Step">
    
    <button *ngSwitchCase="'selectImages'" class="btn btn-outline-dark" (click)="backToSendLink()">Back</button>
    <button *ngSwitchCase="'selectImages'" class="btn btn-outline-dark" (click)="toEditDetails()">Next</button>

    <button *ngSwitchCase="'editDetails'" class="btn btn-outline-dark" (click)="backToSelectImages()">Back</button>
    <button *ngSwitchCase="'editDetails'" class="btn btn-outline-dark" (click)="toPreview()">Next</button>

    <button *ngSwitchCase="'preview'" class="btn btn-outline-dark" (click)="backToEditDetails()">Back</button>
    <button *ngSwitchCase="'preview'" class="btn btn-outline-dark" (click)="saveProduct()">Finish</button>

    <button class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
</div>