<div *ngIf="isDataReady" class="container">
    <div class="jumbotron jumbotron-fluid bg-white text-primary">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 text-center d-flex align-items-center justify-content-center">
                <h1>{{message.text}}</h1>
            </div>
            <div class="col-md-6 order-1 order-md-2 d-flex align-items-center justify-content-center">
                <img class="img-fluid"
                style="padding: 0.2rem"
                src="{{apiUrl}}/images/{{message.image}}">
            </div>

        </div>
    </div>

    <div class="row d-flex justify-content-start">
        <h2 class="text-right mx-2 text-primary">{{translation.startPage.topRated}}</h2>
    </div>
    <app-product-carousel
        [items]="tops.items"
        [sm]="2" [md]="2" [lg]="3" [xl]="4" 
        (onProductClick)="showProductDetail($event)"
        (onTagClick)="showTagResults($event)">
    </app-product-carousel>
    <div class="mt-5"></div>
    <div *ngFor="let item of topCategories.items | orderBy: 'order'">
        <div class="row">
            <h2 class="text-right mx-2 text-primary">
                {{translation.startPage.whatsNew}}
                <a href="/category/{{item.category.category._id}}" class="text-dark"
                (click)="browseAllCategory($event, item.category.category._id)">
                {{item.category.category.name}}
                </a>
            </h2>
        </div>
        <app-product-carousel
            [items]="item.category.items"
            [sm]="2" [md]="2" [lg]="3" [xl]="3" 
            (onProductClick)="showProductDetail($event)"
            (onTagClick)="showTagResults($event)">
        </app-product-carousel>
        <div class="row d-flex justify-content-end">
                <h3 class="mt-2 mb-5">
                    <a href="/category/{{item.category.category._id}}"
                    (click)="browseAllCategory($event, item.category.category._id)">
                    {{translation.startPage.browseAll}}
                    </a>
                </h3>
        </div>
    </div>
</div>