<div *ngIf="isDataReady" class="container mt-4">
    <div class="row d-flex justify-content-start">
        <h1 class="text-right mb-2">{{translation.startPage.topRated}}</h1>
    </div>
    <app-product-carousel class="row d-flex justify-content-center"
        [items]="tops.items"
        (onProductClick)="showProductDetail($event)">
    </app-product-carousel>

    <div *ngFor="let item of topCategories.items | orderBy: 'order'">
        <div class="row">
            <h2 class="text-right mb-2">{{translation.startPage.whatsNew}} {{item.category.category.name}}</h2>
        </div>
        <app-product-carousel class="row d-flex justify-content-center"
            [items]="item.category.items"
            (onProductClick)="showProductDetail($event)">
        </app-product-carousel>
        <div class="row">
                <h5 class="text-left mb-5">
                    <a href="#" (click)="browseAllCategory($event, item.category.category._id)">
                    {{translation.startPage.browseAll}}
                    </a>
                </h5>
        </div>
    </div>
</div>