<nav *ngIf="isDataReady" class="navbar navbar-expand sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">Manage Panel</a>
    <ol class="breadcrumb" style="margin-bottom: 0; padding:0.3rem">
            <li class="breadcrumb-item"><a routerLink="/">Main Menu</a></li>
            <li class="breadcrumb-item active">Translation</li>
    </ol>
</nav>
<div *ngIf="isDataReady" class="container mt-5">
    <form novalidate #formRef="ngForm">
        <div class="row">
            <h2 class="mb-3">Top Navigation</h2>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="logoTitle">Logo Title</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.logoTitle"
                name="logoTitle"
                #logoTitle="ngModel"
                type="text" class="form-control form-control-sm" required>
                <div class="alert alert-danger" *ngIf="logoTitle.touched &&
                logoTitle?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="facebookLink">Facebook Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.facebookLink"
                name="facebookLink"
                #facebookLink="ngModel"
                type="text" class="form-control form-control-sm" required>
                <div class="alert alert-danger" *ngIf="facebookLink.touched &&
                facebookLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="youtubeLink">Youtube Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.youtubeLink"
                name="youtubeLink"
                #youtubeLink="ngModel"
                type="text" class="form-control form-control-sm" required>
                <div class="alert alert-danger" *ngIf="youtubeLink.touched &&
                youtubeLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchGoButtion">Search Go Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.searchGoButtion"
                name="searchGoButtion"
                #searchGoButtion="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchGoButtion.touched &&
                searchGoButtion?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchboxPlaceholder">Searchbox Placeholder</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.searchboxPlaceholder"
                name="searchboxPlaceholder"
                #searchboxPlaceholder="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchboxPlaceholder.touched &&
                searchboxPlaceholder?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchboxPlaceholder">Searchbox Dropdown in Products</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.searchboxDropdown.inProducts"
                name="searchboxDropdownInProducts"
                #searchboxDropdownInProducts="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchboxDropdownInProducts.touched &&
                searchboxDropdownInProducts?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchboxPlaceholder">Searchbox Dropdown in Categories</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.searchboxDropdown.inCategories"
                name="searchboxDropdownInCategories"
                #searchboxDropdownInCategories="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchboxDropdownInCategories.touched &&
                searchboxDropdownInCategories?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchboxPlaceholder">Searchbox Dropdown in Brands</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.searchboxDropdown.inBrands"
                name="searchboxDropdownInBrands"
                #searchboxDropdownInBrands="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchboxDropdownInBrands.touched &&
                searchboxDropdownInBrands?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchboxPlaceholder">Searchbox Dropdown in Shops</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.searchboxDropdown.inShops"
                name="searchboxDropdownInShops"
                #searchboxDropdownInShops="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchboxDropdownInShops.touched &&
                searchboxDropdownInShops?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="selectTitle">Select Title</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.selectTitle"
                name="selectTitle"
                #selectTitle="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="selectTitle.touched &&
                selectTitle?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="homeLink">Home Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.homeLink"
                name="homeLink"
                #homeLink="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="homeLink.touched &&
                homeLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="categoriesLink">Categories Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.categoriesLink"
                name="categoriesLink"
                #categoriesLink="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="categoriesLink.touched &&
                categoriesLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="brandsLink">Brands Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.brandsLink"
                name="brandsLink"
                #brandsLink="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="brandsLink.touched &&
                brandsLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="shopsLink">Shops Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.shopsLink"
                name="shopsLink"
                #shopsLink="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="shopsLink.touched &&
                shopsLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="couponsLink">Coupons Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.couponsLink"
                name="couponsLink"
                #couponsLink="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="couponsLink.touched &&
                couponsLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="helpLink">Help Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.topNavigation.helpLink"
                name="helpLink"
                #helpLink="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="helpLink.touched &&
                helpLink?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>



        <div class="row">
                <h2 class="mb-3">Footer</h2>
        </div>    
        <div class="row mb-1">
            <div class="col-3">
                <label for="year">Year</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.footer.year"
                name="year"
                #year="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="year.touched &&
                year?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="year">Follow Us</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.footer.followUs"
                name="followUs"
                #followUs="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="followUs.touched &&
                followUs?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="year">Contact Email</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.footer.contactEmail"
                name="contactEmail"
                #contactEmail="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="contactEmail.touched &&
                contactEmail?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="year">Subscribe Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.footer.subscribeLabel"
                name="subscribeLabel"
                #subscribeLabel="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="subscribeLabel.touched &&
                subscribeLabel?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="year">Subscribe Field Placeholder</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.footer.subscribeFieldPlaceholder"
                name="subscribeFieldPlaceholder"
                #subscribeFieldPlaceholder="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="subscribeFieldPlaceholder.touched &&
                subscribeFieldPlaceholder?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="year">Subscribe Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.footer.subscribeButton"
                name="subscribeButton"
                #subscribeButton="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="subscribeButton.touched &&
                subscribeButton?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>



        <div class="row">
                <h2 class="mb-3">Subscribe Result Window</h2>
        </div>    
        <div class="row mb-1">
            <div class="col-3">
                <label for="success">Success</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.subscribeResult.success"
                name="success"
                #success="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="success.touched &&
                success?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="success">Already Subscribed</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.subscribeResult.alreadySubscribed"
                name="alreadySubscribed"
                #alreadySubscribed="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="alreadySubscribed.touched &&
                alreadySubscribed?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="success">Close Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.subscribeResult.closeButton"
                name="closeButton"
                #closeButton="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="closeButton.touched &&
                closeButton?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>

        <div class="row">
                <h2 class="mb-3">Start Page</h2>
        </div>    
        <div class="row mb-1">
            <div class="col-3">
                <label for="topRated">Top Rated Offers Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.startPage.topRated"
                name="topRated"
                #topRated="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="topRated.touched &&
                topRated?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="whatsNew">What's New In Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.startPage.whatsNew"
                name="whatsNew"
                #whatsNew="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="whatsNew.touched &&
                whatsNew?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="browseAll">Browse All Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.startPage.browseAll"
                name="browseAll"
                #browseAll="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="browseAll.touched &&
                browseAll?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row">
                <h2 class="mb-3">Product Preview Window</h2>
        </div>              
        <div class="row mb-1">
            <div class="col-3">
                <label for="viewMore">View More Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.productPreview.viewMore"
                name="viewMore"
                #viewMore="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="viewMore.touched &&
                viewMore?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row">
                <h2 class="mb-3">Tag View</h2>
        </div>              
        <div class="row mb-1">
            <div class="col-3">
                <label for="tagResults">Search by tag results</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.tagView.tagResults"
                name="tagResults"
                #tagResults="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="tagResults.touched &&
                tagResults?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row">
                <h2 class="mb-3">Search Results View</h2>
        </div>              
        <div class="row mb-1">
            <div class="col-3">
                <label for="searchResults">Search results for</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.searchView.searchResults"
                name="searchResults"
                #searchResults="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="searchResults.touched &&
                searchResults?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="productsResults">Products</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.searchView.productsResults"
                name="productsResults"
                #productsResults="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="productsResults.touched &&
                productsResults?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="numberOfResults">N founded.</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.searchView.numberOfResults"
                name="numberOfResults"
                #numberOfResults="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="numberOfResults.touched &&
                numberOfResults?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>

        <div class="row">
                <h2 class="mb-3">Product View</h2>
        </div>              
        <div class="row mb-1">
            <div class="col-3">
                <label for="buyButton">Buy Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.productView.buyButton"
                name="buyButton"
                #buyButton="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="buyButton.touched &&
                buyButton?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="interestedIn">Interested In Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "translation.productView.interestedIn"
                name="interestedIn"
                #interestedIn="ngModel"
                type="text" class="form-control form-control-sm" dir="rtl" required>
                <div class="alert alert-danger" *ngIf="interestedIn.touched &&
                interestedIn?.errors?.required">
                This field is required.
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-end">
            <button (click)="saveTranslation()" class="btn btn-success mx-1" [disabled]="formRef.invalid">
                Save Translation
            </button>
            <button class="btn btn-info mx-1" (click)="clickCancel()">
                Cancel
            </button>
        </div>
    </form>
</div>