<div>
    <h2>Translation configuration</h2>

    <h4>Top Navigation</h4>

    <div class="row">
        <div class="col-3">
            <label for="logoTitle">Logo Title</label>
        </div>
        <div class="col-9">
            <input [(ngModel)] = "logoTitle" id="logoTitle" placeholder="{{translation.topNavigation.logoTitle}}" type="text" class="form-control form-control-sm">
        </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="facebookLink">Facebook Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "facebookLink" id="facebookLink" placeholder="{{translation.topNavigation.facebookLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="youtubeLink">Youtube Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "youtubeLink" id="youtubeLink" placeholder="{{translation.topNavigation.youtubeLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="searchGoButtion">Search Go Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "searchGoButtion" id="searchGoButtion" placeholder="{{translation.topNavigation.searchGoButtion}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="searchboxPlaceholder">Searchbox Placeholder</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "searchboxPlaceholder" id="searchboxPlaceholder" placeholder="{{translation.topNavigation.searchboxPlaceholder}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="couponsLink">Coupons Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "couponsLink" id="couponsLink" placeholder="{{translation.topNavigation.couponsLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="marketplacesLink">Marketplaces Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "marketplacesLink" id="marketplacesLink" placeholder="{{translation.topNavigation.marketplacesLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="shopsLink">Shops Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "shopsLink" id="shopsLink" placeholder="{{translation.topNavigation.shopsLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="brandsLink">Brands Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "brandsLink" id="brandsLink" placeholder="{{translation.topNavigation.brandsLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="suggestionsLink">Suggestions Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "suggestionsLink" id="suggestionsLink" placeholder="{{translation.topNavigation.suggestionsLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="categoriesLink">Categories Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "categoriesLink" id="categoriesLink" placeholder="{{translation.topNavigation.categoriesLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="homeLink">Home Nav Link</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "homeLink" id="homeLink" placeholder="{{translation.topNavigation.homeLink}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <h4>Start Page</h4>

    <div class="row">
            <div class="col-3">
                <label for="header">Header Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "header" id="header" placeholder="{{translation.startPage.header}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="topRated">Top Rated Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "topRated" id="topRated" placeholder="{{translation.startPage.topRated}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="whatsNew">What's New Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "whatsNew" id="whatsNew" placeholder="{{translation.startPage.whatsNew}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <div class="row">
            <div class="col-3">
                <label for="browseAll">Browse All Label</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "browseAll" id="browseAll" placeholder="{{translation.startPage.browseAll}}" type="text" class="form-control form-control-sm">
            </div>
    </div>

    <h4>Product Preview Window</h4>

    <div class="row">
            <div class="col-3">
                <label for="viewMore">View More Button</label>
            </div>
            <div class="col-9">
                <input [(ngModel)] = "viewMore" id="viewMore" placeholder="{{translation.productPreview.viewMore}}" type="text" class="form-control form-control-sm">
            </div>
    </div>
    
    <div class="row">
        <button class="btn btn-success"
        (click)="saveTranslation(
            logoTitle,
            facebookLink,
            youtubeLink,
            searchGoButtion,
            searchboxPlaceholder,
            couponsLink,
            marketplacesLink,
            shopsLink,
            brandsLink,
            suggestionsLink,
            categoriesLink,
            homeLink,
            header,
            topRated,
            whatsNew,
            browseAll,
            viewMore
            )">
            Save Translation
        </button>
    </div>

</div>