<nav *ngIf="isDataReady" class="navbar navbar-expand sticky-top navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Manage Panel</a>
        <ol class="breadcrumb" style="margin-bottom: 0; padding:0.3rem">
                <li class="breadcrumb-item"><a href="/">Main Menu</a></li>
                <li class="breadcrumb-item"><a href="/marketplaces">Marketplaces</a></li>
                <li class="breadcrumb-item active">Shops</li>
        </ol>
</nav>
<div *ngIf="isDataReady" class="container mt-5">
                <div class="row">
                    <h3 class="mb-3">Marketplace: {{marketplace.name}}</h3>
                </div>
                <div class="row">
                                <a href="#" (click)="newShop($event)"><h5>New Shop</h5></a>
                </div> 
                <div class="row">
                        <table class="table table-hover mt-3">
                            <thead>
                                <tr>
                                        <th>#</th>
                                        <th>Shop</th>
                                        <th>Items</th>
                                        <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let shop of marketplace.shops | orderBy: 'name'; let i = index">
                                        <th scope="row">
                                                {{i+1}}
                                        </th>
                                        <td>
                                                <span>
                                                        <img src="/images/{{shop.logo}}"
                                                        style = "
                                                        max-width:32px;
                                                        max-height: 32px;
                                                        width: auto;
                                                        height: auto;
                                                       ">
                                                        <strong dir="rtl">{{shop.name}}</strong>
                                                </span>
                                        </td>
                                        <td>
                                                <button class="btn btn-sm btn-outline-info"
                                                (click)="viewShopProducts(shop._id)">
                                                        Products: {{shop.items.length}}
                                                </button>
                                        </td>
                                        <td>
                                                <div class="row">
                                                                <button class="btn btn-sm btn-outline-warning"
                                                                (click)="editShop(shop._id)">
                                                                Edit
                                                                </button>
                                                                <button class="btn btn-sm btn-outline-danger"
                                                                (click)="deleteShop(shop._id)">
                                                                Delete
                                                                </button>
                                                </div>
                                        </td>
                                </tr>
                            </tbody>
                        </table>

                </div>      
            </div>