<div *ngIf="isDataReady" class="container">
        <div class="jumbotron jumbotron-fluid bg-white text-primary">
                <div class="row text-right" style="padding-left: .5rem; padding-right: .5rem;">
                        <h2>
                                {{translation.tagView.tagResults}}
                                <span class="text-dark">{{tag.name}}</span>
                        </h2>
                </div>
        </div>
        <app-product-list
        [items]="tag.items"
        (onProductClick)="showProductDetail($event)"
        (onTagClick)="showTagResults($event)">
        </app-product-list>
</div>