<nav *ngIf="isDataReady" class="navbar navbar-expand sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Manage Panel</a>
    <ol class="breadcrumb" style="margin-bottom: 0; padding:0.3rem">
            <li class="breadcrumb-item"><a href="/">Main Menu</a></li>
            <li class="breadcrumb-item active">Marketplaces</li>
    </ol>
</nav>
<div *ngIf="isDataReady" class="container mt-5">
<div class="row">
    <a href="#" (click)="newMarketplace($event)"><h5>Add Marketplace</h5></a>
</div>  
<div class="row">
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marketplace</th>
                    <th>Shops</th>
                    <th>Items</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let marketplace of marketplaces | orderBy: 'name'; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>
                        {{marketplace.name}}
                    </td>
                    <td>
                        <span *ngIf="!marketplace.hasShops">Standalone</span>
                        <button *ngIf="marketplace.hasShops" class="btn btn-sm btn-outline-info" (click)="viewMarketplaceShops(marketplace._id)">
                                Shops: {{marketplace.shops.length}}
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info" (click)="viewMarketplaceProducts(marketplace._id)">
                                Products: {{marketplace.products.length}}
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-warning" (click)="editMarketplace(marketplace._id)">
                            Edit
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteMarketplace(marketplace._id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>      
</div>